* {
    margin: 0;
    padding : 0;
    font-family: Montserrat;
    font-size: 15px;
}

nav {
    height: 80px;
    background-color: #152237;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav img {
    width : 84px;
    height : 31px;
}

nav a {
    color: white;
    text-decoration: none;
}
button {
    border-radius: 6px;
    border: none;
    width: 130px;
    height: 40px;
}

#barreRecherche {
    width: 477px;
    height: 40px;
    border-radius: 6px;
    border: solid 1px white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 2px;
}

header {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#hero {
    position: relative;
    width: 100%;
    height: 540px;
    background: linear-gradient(to right, #44DD8A, #15B7E2);
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../ressources/bg-header.png");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: 0;
}

#hero > * {
    position: relative;
    z-index: 1;
}

header h1 {
    font-weight: 800;
    font-size: 48px;
    color: #152237;
}

header p {
    font-size: 20px;
}

.gradient {
      background-image: linear-gradient(to right, #44DD8A, #15B7E2);
}

section {
    height: 632px;
    padding: 97px 30px;
}

section h2 {
    font-weight: 800;
    font-size: 36px;
}
